# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore Python compiled files
__pycache__/
*.py[cod]
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directory
venv/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore data and results directories
data/
results/
intermediate/

# Ignore configuration files
config.yaml
.env

# Ignore compiled binaries
*.o
*.a
*.out

# Ignore slurm files
*.slurm
*.pbs

# Ignore scractch directory
scratch/

# Ignore extra files
github
github.pub
test_data/
